:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url('../fonts/ptsans.woff2') format('woff2'),
        url('../fonts/ptsans.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

body {
    width: 1200px;

    padding: 0;
    margin: 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.extra-bold {
    line-height: 30px;
    font-size: 30px;
    font-weight: 700;
}

.bold-text {
    line-height: 21px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.small-text {
    line-height: 14px;
    font-size: 14px;
    font-weight: 400;
}

.wrapper {
    padding-right: 73px;
    padding-left: 73px;
}

/*классы хэдера*/

.main-header {
    display: flex;
    flex-direction: column;

    padding-top: 22px;
    padding-bottom: 24px;

    text-transform: uppercase;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 14px;

}

.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;

    margin: 0;
    padding: 0;

    list-style: none;

    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
}


.site-nav a {
    text-decoration: none;
    color: #000000;
}

.nav-logo {
    width: 138px;
    height: 70px;
}

.nav-logo__container {
    position: absolute;
    content: "";
    top: 0;
    left: 531px;
}

/*классы страницы index*/

.index-main {
    text-transform: uppercase;
    font-weight: 400;
}

.background-pic__container {
    padding-bottom: 65px;
}

.background-pic {
    width: 100%;
    height: 100%;
}

.sedona-summary__intro-text {
    margin: 0;
    padding: 0;
}

.sedona-summary__intro-text .bold-text {
    line-height: 31px;
}

.sedona-summary__intro-text p {
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
}

.sedona-summary__intro-text small {
    display: block;
    margin-bottom: 59px;
    text-align: center;
}

.sedona-summary__pic-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 62px;
}

.sedona-summary__pic-block--second {
    margin: 0;
}

.sedona-feature {
    max-width: 400px;

    padding-top: 47px;
    padding-bottom: 51px;
    padding-left: 60px;
    padding-right: 60px;

    text-align: center;

    color: #ffffff;
    background-color: #81b3d2;
}

.sedona-feature--2 {
    order: 2;
    padding-bottom: 65px;
}

.sedona-feature--grey {
    color: #000000;
    background-color: #eeeeee;
}

.sedona-feature h3 {
    margin: 0;
    margin-bottom: 27px;
    line-height: 24px
}

.sedona-feature p {
    margin: 0;
    margin-top: 25px;
}


.sedona-pic1 {
    background-image: url(../img/pic1.jpg);
    background-repeat: no-repeat;
    width: 800px;
}

.sedona-pic2 {
    background-image: url(../img/pic2.jpg);
    background-repeat: no-repeat;
    width: 800px;
    order: 1;
}

.utilities-list {
    margin: 0;
    padding: 0;
    padding-bottom: 83px;
    display: flex;
    list-style: none;
}

.utilities-list__item {
    text-align: center;
    padding-top: 104px;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 400px;
}

.utilities-list__item h3 {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
}

.utilities-list__item p {
    margin: 0;
    line-height: 19px;
}

.utilities-list__home::before {
    position: absolute;
    top: -105px;
    left: 113px;
    width: 75px;
    height: 72px;
    background-image: url(../img/icon-1.png);
    background-repeat: no-repeat;
    content: "";
}

.utilities-list__food::before {
    position: absolute;
    top: -105px;
    left: 113px;
    width: 74px;
    height: 70px;
    background-image: url(../img/icon-2.png);
    background-repeat: no-repeat;
    content: "";
}

.utilities-list__souvenir::before {
    position: absolute;
    top: -105px;
    left: 118px;
    width: 64px;
    height: 76px;
    background-image: url(../img/icon-3.png);
    background-repeat: no-repeat;
    content: "";
}

.features-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.contacts {
    position: relative;
    padding-top: 55px;
    margin-bottom: 473px;
    display: flex;
    flex-direction: column;
}

.contacts__container {
    text-align: center;
}

.contacts__header {
    margin: 0;
    margin-bottom: 36px;
}

.contacts__text {
    margin: 0;
    margin-bottom: 45px;
    line-height: 21px;
    color: #333333;
}

.search-btn {
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 136px;
    padding-right: 136px;

    font-size: 21px;
    line-height: 21px;
    font-weight: 700;

    color: #ffffff;

    text-align: center;

    text-transform: uppercase;

    background-color: #766357;

    border: none;

}

.map-item {
    position: absolute;
    top: 295px;
    width: 1200px;
    height: 593px;
    content: "";

    z-index: -10;

    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
}

/* начало классов страницы hotels*/

.hotels-main {
    text-transform: uppercase;
}

.filters {
    display: flex;
    flex-direction: row;

    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    height: 217px;

    color: #ffffff;
    background-image: url(../img/filter-background.jpg);
    background-repeat: no-repeat;
    background-color: lightblue;
}

.filters form {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.filters fieldset {
    display: flex;
    border: none;
}

.filters legend {
    margin-bottom: 35px;

    font-size: 16px;
    font-weight: 700;
}

.filters label {
    margin-bottom: 35px;
    padding-left: 40px;

    position: relative;

    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.filters label::before {
    position: absolute;

    width: 10px;
    height: 10px;

    content: "";
}

.filters input {
    display: none;
}


.filters .filters__container {
    display: flex;
}

.filters__utilities {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.filters__apartments {
    margin-left: 112px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.filters__price {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hotels {
    display: flex;
    flex-direction: column;
}

.sorting {
    padding-bottom: 36px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 1px solid #e5e5e5;
}

.sorting h3 {
    margin: 0;
    margin-right: 38px;

    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
}

.sorting__result {
    margin-right: 50px;
    font-size: 21px;
    font-weight: 700;
}

.sorting__options {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
}

.sorting__option {
    font-size: 12px;
    line-height: 12px;

    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}

.sorting__option:not(:first-child) {
    margin-left: 32px;
}

.sorting__option--active {
    color: #81b3d2;
    border: none;
}

.hotels-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.hotels-list__item {
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #e5e5e5;
}

.hotel__description {
    display: flex;
}

.hotel__img-container {
    margin-right: 30px;
    display: flex;
}

.hotel__desc-container {
    display: flex;
    flex-direction: column;
}

.hotel__desc-container div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hotel__name {
    margin: 0;
    margin-bottom: 18px;
    line-height: 15px;
}

.hotel__type-container {
    margin-bottom: 17px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    line-height: 12px;
}

.hotel__price {
    margin-right: 91.7px;
}

.hotel-btn-about {
    margin-right: 7px;

    padding-top: 7.07px;
    padding-bottom: 7.07px;
    padding-right: 17px;
    padding-left: 17px;

    display: flex;

    color: #ffffff;

    font-size: 14px;
    line-height: 14px;
    font-weight: 700;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #81b3d2;
}

.hotel-btn-book {
    padding-top: 7.07px;
    padding-bottom: 7.07px;
    padding-right: 17px;
    padding-left: 17px;

    display: flex;

    color: #ffffff;

    font-size: 14px;
    line-height: 14px;
    font-weight: 700;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #766357;
}

.hotel__rating-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.hotel__stars {
    margin-bottom: 44.27px;
    display: flex;
    justify-content: flex-end;
}

.hotel__stars span {
    position: relative;
    margin-right: 6px;
    padding: 9px 9px;
}

.hotel__stars span:last-of-type {
    margin-right: 0;
}

.hotel__stars span::before {
    position: absolute;

    left: 0;
    top: 0;

    width: 18px;
    height: 17px;

    content: "";
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    /*background-position: center;*/
}

.hotel__rating-score {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;

    display: flex;

    line-height: 12px;

    color: #666666;
    background-color: #f2f2f2;
}

/* начало классов футера */

.main-footer {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;

    position: relative;
    justify-content: space-around;
    align-content: center;

    z-index: 50;

    background-color: rgba(254, 254, 254, 0.9);
    align-items: center;
}

.hashtag {}

.social-links {
    display: flex;
    list-style: none;

    margin: 0;
    padding: 0;
}

.social-links li {
    margin-right: 6px;
}

.social-links li:last-child {
    margin: 0;
}

.social-links__link {
    display: flex;
    width: 46px;
    height: 48px;

    text-decoration: none;
}

.social-links:last-child {
    margin: 0;
}

.social-links__link--twitter {
    background-image: url("../img/t-icon.png");
    background-repeat: no-repeat;
}

.social-links__link--fb {
    background-image: url("../img/fb-icon.png");
    background-repeat: no-repeat;
}

.social-links__link--youtube {
    background-image: url("../img/youtube-icon.png");
    background-repeat: no-repeat;
}

.academy-logo {
    position: relative;
}

.academy-logo::after {
    position: absolute;
    width: 115px;
    height: 41px;

    left: 90px;
    top: -12px;

    content: "";
    background-image: url("../img/logo_name.png");
    background-repeat: none;
}




/*модалка*/

.modal {
    display: none;
}